/*Desarrollado por:  Gemma Batlle*/
/*Revisado:  Marzo 2022*/

/*Sección contacto*/

body
{
	background-image: url(../IMG/fondos/fondo4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#contactoPrincipal
{
	width: 90%;
	height: auto;
	padding: 10% 20%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: white;
	margin: auto;
}

#contactoPrincipal form 
{
	width: 400px;
	height: 400px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: auto;
}

#contactoPrincipal form label
{
	font-family: 'Raleway';
	font-size: 1rem;
	color: #000;
}

#contactoPrincipal form input
{
	width: 90%;
	height: auto;
	margin: 10px;
}

#contactoPrincipal form #mensaje
{
	height: 70px;
}