/*Sección evento*/

.evento-slider
{
	width: 100vw;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	transition: clip-path 2s;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#init-img
{
	clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

.evento-slider
{
	width: 100vw;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: clip-path 2s;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#init-img
{
	clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

.intro-evento
{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
}

#titulo-evento
{
	font-family: 'Marvel';
	position: relative;
	top: 0;
	left: 0;
	z-index: 10;
	color: #fff;
	font-weight: 900;
	font-size: 17rem;
	text-align: left;
}

.link-evento
{
	width: 100px;
	height: auto;
	text-decoration: none;
	color: #000;
	text-align: center;
}

/*Sección descripción*/

.sec-descripcion
{
	width: 100%;
	height: 600px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background: url(../IMG/background_galaxy.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border: solid 1px #000;
	overflow: hidden;
	padding: 100px;
}

.sec-descripcion p 
{
	width: 100%;
	margin: auto;
	color: #fff;
}

.sec-descripcion img 
{
	width: 100%;
	height: auto;
	margin: auto;
}

.sec-descripcion .logo-ma-ext
{
	width: 200px;
	height: auto;
	margin: auto;
}

/*Sección mapa*/

.sec-mapa
{
	width: 100%;
	height: 500px;
	background-color: #3e3e3e;
	border: solid 1px #000;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-around;
}

.sec-mapa iframe
{
	align-self: center;
	margin: auto;
}

.princ-mapa
{
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;
	margin: 0 100px;
}

.sub-mapa
{
	width: 100%;
	height: auto;
	/* margin: auto; */
}

/*Sección actividades*/

.sec-act
{
	width: 100%;
	height: 900px;
	background-color: #202020;
	border: solid 1px #fff;
	overflow: hidden;
	position: relative;
}

.contTempAct{
	position: absolute;
	width: auto;
	top: 0px;
	right: 0px;
	z-index: 99;
	display: flex;
}

.tab-act
{
	width: 100%;
	height: 50px;
	font-size: 1.5rem;
	color: #fff;
	background-color: #3e3e3e;
	margin: 0 5px;
}

.cont-slider-act
{
	width: auto;
	height: 100%;
	clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.tab-active
{
	background-color: hotpink;
}

.slider-act
{
	width: auto;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	transition: 1s;
	/* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
}

.cont-act
{
	width: 50%;
	height: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
}

.sec-act h1
{
	font-size: 9rem;
	color: #fff;
	/* position: relative;
	bottom: 0; */
	margin-top: 40%;
	background-color: red;
}

.text-noticias
{
	font-size: 1.7rem;
	color: #fff;
	/* position: relative;
	bottom: 0; */
}

/*Sección concursos*/

.sec-concursos
{
	width: 100%;
	height: 1100px;
	background-color: #202020;
	display: inline-block;
}

.sec-concursos .text-conc
{
	text-align: center;
	width: 800px;
	height: auto;
	margin: -200px auto 20px auto;
	font-size: 1em;
	color: #fff;
}

.princ-concursos
{
	width: auto;
	height: 100%;
	display: flex;
	margin-top: -200px;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.con-concursos
{
	width: 500px;
	height: 500px;
	margin: auto 2%;
	background-color: blue;
	transition: 1s;
	overflow: hidden;
}

.con-concursos:hover
{
	height: 600px;
	width: 600px;
}

.con-concursos:nth-child(1)
{
	background: url(../IMG/draw_wanda1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}

.con-concursos:nth-child(2)
{
	background: url(../IMG/draw_drstrange1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}

.con-concursos:nth-child(3)
{
	background: url(../IMG/draw_thor1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}

.contenido-concursos
{
	position: absolute;
	float: left;
	width: 300px;
	height: auto;
	background: rgba(0, 0, 0, 0.5);
	padding: 20px;
	color: #fff;
	box-sizing: border-box;
	transition: 0.5s;
	text-align: justify;
	display: none;
}

.con-concursos:hover .contenido-concursos
{
	display: initial;
}

.contenido-concursos p 
{
	font-size: .8em;
	font-family: 'Raleway', sans-serif;
}

/* Secció merchandising */

.sec-merch
{
	width: 100%;
	height: 900px;
	background-color: white;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-flex;
	transition: 1s;
}

.cont-merch
{
	width: 100%;
	height: auto;
	margin: 100px;
	float: left;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	overflow: hidden;
}

.img-merch
{
	width: auto;
	height: 200px;
}

.cont2-merch
{
	width: auto;
	height: 30%;
	margin: 100px;
	background-color: rgba(0, 0, 0, 0.5);
	visibility: hidden;
}


