/*Desarrollado por:  Gemma Batlle*/
/*Revisado:  Marzo 2022*/

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Marvel';
	src: url(../Tipografias/Marvel-Regular.ttf);
}

@font-face{
	font-family: 'Raleway';
	src: url(../Tipografias/Raleway-VariableFont_wght.ttf);
}

.titulo-menu
{
	font-family: 'Marvel';
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
	color: white;
}

.titulo-princ
{
	font-family: 'Marvel', sans-serif;
	font-size: 4em;
	text-align: center;
	text-transform: uppercase;
	color: white;
}

.texto-princ
{
	font-family: 'Raleway', sans-serif;
	font-size: .9em;
	text-align: center;
	color: white;
}

.text-sections
{
	font-family: 'Raleway', sans-serif;
	font-size: .9em;
	text-align: left;
}

.text-sections2
{
	font-family: 'Raleway', sans-serif;
	font-size: .9em;
	text-align: left;
	color: #fff;
}

.texto-evento
{
	width: 250px;
	height: auto;
}

.titulo-sec
{
	font-family: 'Marvel', sans-serif;
	margin-top: 2em;
	color: #fff;
	font-size: 2.4em;
}

.titulo-tab
{
	font-family: 'Marvel', sans-serif;
	color: #fff;
	font-size: 1.5em;
}

.titulo-sec2
{
	font-family: 'Marvel', sans-serif;
	margin-top: 2em;
	color: #000;
	font-size: 2.4em;
}

/*Navbar*/

.superNavbar
{
	background-color: #3e3e3e;
	width: 100%;
	height: auto;
	position: fixed;
	z-index: 100;
}

.menu-a
{
	width: 100%;
	height: 60px;
	margin: 0;
	position: relative;
	transition: height 1s;
	overflow: hidden;
}

#inicioMobile
{
	display: none;
}

.menu-a img 
{
	width: auto;
	height: 50px;
}

.menu-a .logo-ma
{
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
}

.menu-a .logo-user
{
	position: absolute;
	right: 10px;
	top: 10px;
}

.menu-b
{
	width: 100%;
	height: 50px;
	z-index: 10;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-around;
}

.menu-lista
{
	text-decoration: none;
	color: #fff;
}

.menu-lista:hover
{
	color: grey;
}

#toggle
{
	display: none;
}

/*Footer*/

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer img 
{
	width: 200px;
	height: auto;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}


@media only screen and (max-width: 850px){
	.titulo-princ {
    font-size: 1.3em;
	}
	.superNavbar{
	height: auto;
	display: block;
	}
	.menu-a{
	display: none;
	}
	.texto-evento {
    width: auto;
	}
	.menu-b{
		display: none;
	}

.menu-b.active{
	display: flex;
	flex-direction: column;
	height: auto;
	background-color: rgba(0, 0, 0, 0.9);
	} 
	
	#inicioMobile{
	display: block;
	}

	#toggle{
	position: relative;
	width: 30px;
	height: 30px;
	margin: 15px;
	cursor: pointer;
	display: block;
	}

#toggle:before{
	content: '';
	position: absolute;
	top: 7px;
	width: 100%;
	height: 2px;
	background: #fff;
	}

#toggle:after{
	content: '';
	position: absolute;
	bottom: 7px;
	width: 100%;
	height: 2px;
	background: #fff;
	}

.superNavbar.active #toggle:before{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	}

.superNavbar.active #toggle:after{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
	}
}